<launch>

	<node pkg="boris_vision" type="align_rgb_depth.py"  name="align_rgb_depth" output="screen"/>

  <node pkg="boris_vision" type="odometry.py"  name="odometry" output="screen"/>

	<node pkg="boris_vision" type="pointcloud_laserscan.py"  name="pointcloud_laserscan" output="screen"/>

	<node pkg="boris_vision" type="sync.py"  name="sync" output="screen"/>

	<node pkg="boris_vision" type="tf_publisher.py"  name="tf_publisher" output="screen"/>

	<include file="$(find boris_vision)/launch/depthimage_to_laserscan.launch"/>

	<node pkg="boris_vision" type="main.py"  name="main" output="screen"/>

	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find boris_vision)/rviz/config.rviz"/>

</launch>
